@font-face {
    font-family: 'lightfont';
    src: url('./Light.woff2');
  
}
@font-face {
    font-family: 'headerfont';
    src: url('./Ultralight.woff2');
  
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card-title{
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.8);
    }

.img-holder{

    
    /* background-color: rgba(195, 178, 178, 0.26); */
    /* background-blend-mode: lighten; */
    background: url(./img.jpg) no-repeat center center fixed;
    display: table;
    height: 100vh;
    
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


    
    
}
.navbarheader {
  z-index: 999;
 
    
   color:#4d5766;
    width: 100vw;
   
    /*margin: 0 1vw;*/
    padding: 0;
    list-style: none;
    font-size: 25px;
    position: fixed;
    font-family: headerfont;
   

}

#aboutus{
  background: url(./home.jpg) no-repeat center center fixed ;
}
#about{
  background: url(./skills.jpg) no-repeat center center fixed ;
}
#aboutus, #about {

    
    /* background-color: rgba(195, 178, 178, 0.26); */
    /* background-blend-mode: lighten; */
    
    display: table;
    height: 100vh;

    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


    
    
}
.home-content{
   width: 80vw;
    height: 30vh;
    margin-top: 20vh;
    margin-left: 10vw;
    /* width: 50vw; */
    text-align: center;
    font-family: lightfont;
    font-size:1.5em;
    color: #4d5766;
}
.navbar-button{
    width:12%;
    margin-top:1vh;
     border-radius:30px;
     background-color:transparent;
   border: none;
     /*border-right: initial;*/
/*      border-color: black; 
     color : black; */
     margin-right: 2%;
    float: right !important;
}
.navbar-content{
   height: 100%;
   width:85%;
  
       
}
.btn:focus{
    outline: none;
}
.home-content-header{
    width: 80vw;
    height: 30vh;
    background: url(./logo-m6.png) no-repeat;
    background-size: contain;
}
