@font-face {
    font-family: 'lightfont';
    src: url('./Light.woff2');
  
}
@font-face {
    font-family: 'headerfont';
    src: url('./Ultralight.woff2');
  
}

/** {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}*/

html,body
{
    width: 100%;
    
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.row {
    margin: 0;
}




    
    

.navbarheader {
  z-index: 999;
 
    
   color:#4d5766;
    width: 100vw;
   
    /*margin: 0 1vw;*/
    padding: 0;
    list-style: none;
    font-size: 25px;
    position: fixed;
    font-family: headerfont;
   

}

.intro{

    
    /* background-color: rgba(195, 178, 178, 0.26); */
    /* background-blend-mode: lighten; */
    background: url(./intro.jpg) no-repeat center center fixed;
}

#aboutus{
  background: url(./home.jpg) no-repeat center center fixed ;
}
#work{
  background: url(./skills.jpg) no-repeat center center ;
}

.home-content{
   width: 80vw;
    height: 30vh;
    margin-top: 20vh;
    margin-left: 10vw;
    /* width: 50vw; */
    text-align: center;
    font-family: lightfont;
    font-size:1.5em;
    color: #4d5766;
}
.navbar-button{
    width:12%;
    margin-top:1vh;
     /*border-radius:30px;*/
     background-color:transparent;
     border: none;
     border-right: initial;
     border-color: #ffe5e56e;
     color : #e7dcdc;
     margin-right: 2%;
    float: right !important;
}
.navbar-content{
   height: 100%;
   width:85%;
  
       
}
.btn:focus{
    outline: none;
}
.home-content-header{
    width: 80vw;
    height: 30vh;
    background: url(./logo-m6.png) no-repeat;
    background-size: contain;
}

@media only screen and (max-device-width: 1440px) {
    .intro{
        background: url(./intro-md.jpg) no-repeat center center fixed;
      
    }
}
@media only screen and (max-device-width: 1024px) {
    .intro{
        background: url(./intro-md-1.jpg) no-repeat center center fixed;
      
    }
    #aboutus{
        background: url(./home.jpg) no-repeat center center  ;
        
    }
    #work{
        background: url(./skills.jpg) no-repeat center center ;
    }
}
@media only screen and (max-device-width: 768px) {
    .intro{
        background: url(./intro-sm.jpg) no-repeat center center fixed;
      
    }
    #aboutus{
        background: url(./home.jpg) no-repeat center center  ;
        
    }
    #work{
        background: url(./skills.jpg) no-repeat center center ;
    }
}

@media only screen and (max-device-width: 440px) {
    .intro{
        background: url(./intro-mobile.jpg) no-repeat center center fixed;
      
    }
    #aboutus{
        background: url(./home.jpg) no-repeat center center  ;
        
    }
    #work{
        background: url(./skills.jpg) no-repeat center center ;
    }
}
/*
@media only screen and (max-device-width: 380px) {
    .intro{
        background: url(./intro-mob1.jpg) no-repeat center center fixed;
      
    }
    #aboutus{
        background: url(./home.jpg) no-repeat center center  ;
        
    }
    #work{
        background: url(./skills.jpg) no-repeat center center ;
    }
}*/

/*ipad pro*/
@media only screen and (device-width: 1024px) and (device-height:1366px) {
     .intro{
        background: url(./ipadpro.jpg) no-repeat center center ;
      
    }

}
#aboutus, #work,.intro {

    
    /* background-color: rgba(195, 178, 178, 0.26); */
    /* background-blend-mode: lighten; */
    
    display: table;
    height: 100vh;

    position: relative;
    width: 100vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.circle {
    height: 20vh;
    text-align: center;
    font-family: lightfont;
    font-size: 20px;    
    border: 1px solid #a9a3a352;
    box-shadow:9px 7px 16px -6px #888888;
    -moz-box-shadow: 9px 7px 16px -6px #888888;
    -webkit-box-shadow: 9px 7px 16px -6px #888888;
    -o-box-shadow:9px 7px 16px -6px #888888;
    background-color:white;
}

